@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Caveat:wght@400..700&display=swap");

:root {
    --dark-color: #080211;
    --light-color: #fbf9fe;
    --text-color: #0a0a0a;
    
  }
  
  body {
    background-color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center; /* Centers content vertically */
    height: 100vh;
    margin: 0;
    padding: 0; /* Reset margin for full height */
  }
  
  .container {
    width: 50%;
    text-align: center;
  }
  
  h1 {
    font-style: italic;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  .quote-box {
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(128, 0, 128, 0.684);
    height: 150px;
    margin-bottom: 20px;
    width: 100%; 
    background-color:  rgb(202, 197, 210);
    margin: 0 auto;
  }
  .quote {
    font-size: 30px;
    font-family: "Caveat", cursive;
    margin: 10px;
  }
  .author {
    font-size: 22px;
    font-family: "Caveat", cursive;
  }
  
  .controls {
    display: flex;
    justify-content: center; 
    gap: 100px; 
    margin-top: 20px;
    
  }
  
  button {
    padding: 12px 20px;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
  }
  /* For small screens (e.g., phones) */
  @media (max-width: 600px) {
    h1 {
      font-size: 40px; 
    }
    .quote-box {
      max-width: 90%;
      height: auto; 
      padding: 15px;
    }
  
    .controls {
      flex-direction: column; 
      gap: 10px; 
    }
  
    button {
      width: 100%; 
      font-size: 18px; 
    }
  }
  
  /* For medium screens (e.g., tablets) */
  @media (min-width: 601px) and (max-width: 900px) {
    h1 {
      font-size: 50px; 
    }
  
    .quote-box {
      max-width: 80%; 
      padding: 20px; 
    }
  
    .controls {
      gap: 15px; 
    }
  
    button {
      padding: 10px 18px;
    }
  }
  